.search-result {
    width: 361px;
}
.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    height: 30px;
}
.search {
    padding: 12px 16px;
    align-items: center;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    overflow: hidden;
    display: flex;
    position: relative;
    width: 361px;
    height: 46px;
    justify-content: space-between;
    border: 1.5px solid transparent;
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
}
.inner-search {
    width: 292px;
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
    outline: none;
    border: none;
    caret-color: rgba(254, 44, 85, 1);
    padding: 0;
    color: rgba(22, 24, 35, 1);
    align-items: center;
    background: transparent;
    appearance: textfield;
    font-family: var(--font-family);
    padding-right: 50px;
}
.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 19px;
    height: 100%;
    color: rgba(22, 24, 35, 0.34);
    width: 52px;
    right: 0;
    position: absolute;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
    &::after {
        content: '';
        height: 28px;
        width: 1px;
        display: block;
        position: absolute;
        top: 50%;
        right: 52px;
        border: none;
        outline: none;
        transform: translateY(-50%);
        background: rgba(22, 24, 35, 0.12);
    }
    &:active {
        background: rgba(22, 24, 35, 0.06);
    }
}
.clear {
    position: absolute;
    top: 50%;
    right: 70px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    border: none;
    outline: none;
    color: rgba(22, 24, 35, 0.34);
}
.loadding {
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 16px;
    height: 16px;
    outline: none;
    color: rgba(22, 24, 35, 0.34);
    animation: loaddingAnimation 1s linear infinite;
}

@keyframes loaddingAnimation {
    0% {
        transform: translateY(-50%) rotate(0);
    }
    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}
